{% include "header.html" %}
<body class="resume-page">
    {%include "navigation.html" %}

  <main class="main">

    <!-- Resume Section -->
    <section id="resume" class="resume section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Resume</h2>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row">

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">Summary</h3>

            <div class="resume-item pb-0">
              <h4>Anna Koo</h4>
              <p><em>Creative and detail-oriented professional with a passion for [your field – e.g., design, development, photography]. Skilled in turning ideas into engaging visuals and user-friendly experiences. Known for clear communication, strong problem-solving, and a collaborative mindset. Based in Turku, Finland, with experience across diverse projects and industries.
</em></p>
            </div><!-- End Resume Item -->

            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>Bachelor of Engineering</h4>
              <h5>2023-</h5>
              <p><em>Metropolia University of Applied Sciences</em></p>
              <p>Information and Communication Technology</p>
            </div><!-- End Resume Item -->

            <div class="resume-item">
              <h4>Turku University of Applied Sciences</h4>
              <h5>2008-2011</h5>
              <p><em>Turku University of Applied Sciences</em></p>
              <p>Bachelor of Business Administration (BBA)</p>
            </div><!-- End Resume Item -->

          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
            <h3 class="resume-title">Professional Experience</h3>
            <div class="resume-item">
              <h4>Customer Service Specialist</h4>
              <h5>2013 - 2025</h5>
              <p><em>Turku, Finland </em></p>
                <p>Worked in customer service, where I developed strong problem-solving skills. Supported customers through phone, messaging, and live chat channels. Gained experience in managing development projects and collaborated closely with various departments. Also participated in onboarding and training new employees.</p>
            </div><!-- End Resume Item -->

            <div class="resume-item">
              <h4>Insurance Advisor</h4>
              <h5>2011 - 2013</h5>
              <p><em>Turku, Finland</em></p>
                <p>Provided insurance advisory services with a strong focus on customer service and communication skills. Completed a professional internship in insurance advisory and claims handling, gaining foundational knowledge in customer service and insurance processes. </p>
            </div><!-- End Resume Item -->

          </div>

        </div>

      </div>

    </section><!-- /Resume Section -->

  </main>
    {% include "footer.html" %}

</body>

</html>